.sliderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}


.sliderContainer button {
  position: absolute;
}

.leftarrow{
  left: -50px;
  z-index: 2000;
}

.rightarrow{
  right: -50px;
  
  z-index: 2000;
} 


.sliderViewport {
  overflow: hidden;
  flex: 1;
}

.sliderTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 200px;
 
  flex-shrink: 0;
  text-align: center;
  white-space: normal;
  align-content: center;
  cursor: pointer;
}

.sliderTrack{
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.slide {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 16.5%;
  
  justify-self: center;
}


.slide:hover {
  transform: scale(1.05);
 
}

.slide img {
  width: 50%;
  margin-bottom: 10px;
}

.slide a {
  display: block;
  color: #1A2B4C;
    font-size: 1.1rem;
    font-weight: 300;

  text-decoration: none;
 
  line-height: 1.3;
  word-wrap: break-word;
}

.arrow {
  background-color: transparent;
  border: none;
  color: #1A2B4C;
  cursor: pointer;
  margin: 0 2rem;
  transition: background 0.3s;
}

.arrow:hover:not(:disabled) {
  color: #0085EA;
}

.arrow:disabled {
  opacity: 0;
  cursor: not-allowed;
}


/* Responsive: Mobile */
@media (max-width: 768px) {
  .slide {
    min-width: 114px;
    margin: 0 10px;
  }

  .slide img {
    width: 80px;
    height: 80px;
  }

  .slide a {
    font-size: 16px;
  }

  /* Minimal arrows on mobile */
 
}


@media (max-width: 468px){

  .arrow svg{
    height: 40px;
  }
 .leftarrow {
  /* Positioning: Move it to the middle vertically */
  top: 50%;
  left: -50px;
  
  /* Transformation: Shift the element up by 50% of its OWN height 
     to perfectly center it on the 50% mark. */
  transform: translateY(-50%);
  
  z-index: 2000;
}

.rightarrow {
  /* Positioning: Move it to the middle vertically */
  top: 50%;
  right: -50px;
  
  /* Transformation: Shift the element up by 50% of its OWN height */
  transform: translateY(-50%);
  
  z-index: 2000;
}

}