/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:wght@100..900&display=swap');

html, body, p {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
 
}


body{
  margin-top: 80px;
}

a{
  cursor: pointer;
}


  @media (max-width: 1000px) {
  html{
    font-size: 14px;
  }
  }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter';
}

  @media (max-width: 786px) {
  html{
    font-size: 12px;
  }
  }

button {
background: linear-gradient(90deg, #2460e4, #1e3b8c);
  color: #fff;
  font-weight: 600;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 16px;
}

button:hover {
 background: linear-gradient(90deg, #1e3b8c, #2460e4);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 72, 255, 0.3);
}

.gradient-text {
  background: linear-gradient(90deg, #2460e4, #0b1f64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.buttoninverse {
  background: linear-gradient(90deg, #e9eff7, #e9eff7); /* light background */
  color: #1e3b8c; /* dark text */
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 16px;
}

.buttoninverse:hover {
  background: linear-gradient(180deg, #e9eff7, #2460e4); /* original gradient on hover */
  color: #fff;
  transform: translateY(-2px);
}
