.container {
  display: flex;
  justify-content: center;
  padding: 0px 6vw;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, #e9eff7, #fafafa);
   color: #1e3b8a;
   text-align: justify;

}
.list, .paragraph {
  color: #1a2b4c !important;
}


/* Titles & text */
.title {
    
  font-size: 2rem;
  margin-bottom: 15px;
}

.subTitle {
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 8px;
}

.paragraph {
  line-height: 1.7;
  margin-bottom: 15px;
}

.list {
  margin-top: 15px;
  padding-left: 20px;
}

.list li {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Dropdown styles */
.dropdown {

  border-radius: 6px;
  margin: 20px 0;

  overflow: hidden;
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 600;
  
background-color: #fafafa;
  transition: background 0.3s ease;
}

.dropdownHeader:hover {
  background: #e9e9e9;
}

.dropdownContent {
    margin-left: 2vw;
  padding: 15px 20px;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
